In [76]:
import numpy as np
import pandas as pd

In [99]:
Fao_data = pd.read_csv(r'C:\Users\HP840 G2\Downloads\FoodBalanceSheetsNew.csv')
Fao_data.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [85]:
#QUESTION 1: What is the total sum of Animal Fat produced in 2014 and 2017 respectively?
# ANSWER = 209460.54 and 269617.53


Fao_data.groupby(['Item'])[['Y2014','Y2017']].sum().loc['Animal fats']

Y2014    209460.54
Y2017    269617.53
Name: Animal fats, dtype: float64

In [80]:
#QUESTION 2 : What is the mean and standard deviation across the whole dataset for the year 2015 to 3 decimal places?
#ANSWER : 135.236 and 1603.404

print(round(Fao_data['Y2015'].mean(), 3))
print(round(Fao_data['Y2015'].std(), 3))

135.236
1603.404

In [86]:
#QUESTION 3 : What is the total number and percentage of missing data in 2016 to 2 decimal places?
#ANSWER = 1535 and 2.52

#Total missing data in 2016
print("Total number: ",Fao_data['Y2016'].isnull().sum())

print("Percentage: %.2f" % round(Fao_data['Y2016'].isnull().sum().sum()/len(Fao_data['Y2016'])*100, 2))

Total number:  1535
Percentage: 2.52

In [96]:
#QUESTION 4 : Which year had the highest correlation with ‘Element Code’? 
#ANSWER = 2014

corrData = Fao_data.corr(method='pearson')
corrData.loc[corrData['Element Code'].idxmax()]

Area Code      -0.000209
Item Code      -0.024683
Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

In [88]:
#QUESTION 5 : What year has the highest sum of Import Quantity?
#ANSWER = 2017

Fao_data.groupby(['Element']).sum().reset_index()

,Element,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
0,Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
1,Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
2,Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
3,Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
4,Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
5,Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
6,Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
7,Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
8,Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
9,Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
10,Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
11,Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
12,Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
13,Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
14,Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
15,Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
16,Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
17,Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [90]:
#QUESTION 6 : What is the total number of the sum of Production in 2014?
#ANSWER = 1931287.75

Fao_data.groupby(['Element'])['Y2014'].sum().reset_index()

                                   Element       Y2014
0                 Domestic supply quantity  1996716.35
1                          Export Quantity   150020.64
2       Fat supply quantity (g/capita/day)    10225.56
3                                     Feed   216927.89
4                                     Food  1212332.49
5            Food supply (kcal/capita/day)   454257.00
6      Food supply quantity (kg/capita/yr)    49650.63
7                          Import Quantity   274144.48
8                                   Losses   153223.00
9                    Other uses (non-food)    78718.13
10                              Processing   282923.00
11                              Production  1931287.75
12  Protein supply quantity (g/capita/day)    11836.46
13                               Residuals    30149.00
14                                    Seed    21922.92
15                         Stock Variation    58749.83
16           Total Population - Both sexes  1031585.00
17                     Tourist consumption      416.00

In [63]:
#QUESTION 7 : Which of these elements had the highest sum in 2018?
#ANSWER = Domestic supply quantity

Fao_data.groupby(['Element'])['Y2018'].sum().reset_index()

                                   Element       Y2018
0                 Domestic supply quantity  2161192.10
1                          Export Quantity   181594.80
2       Fat supply quantity (g/capita/day)    10258.69
3                                     Feed   233489.68
4                                     Food  1303841.28
5            Food supply (kcal/capita/day)   455261.00
6      Food supply quantity (kg/capita/yr)    49056.85
7                          Import Quantity   287997.09
8                                   Losses   163902.00
9                    Other uses (non-food)    91300.97
10                              Processing   308429.00
11                              Production  2075072.89
12  Protein supply quantity (g/capita/day)    11833.56
13                               Residuals    34864.00
14                                    Seed    25263.14
15                         Stock Variation    20577.91
16           Total Population - Both sexes  1140605.00
17                     Tourist consumption       90.00

In [64]:
#QUESTION 8 : Which of these elements had the 3rd lowest sum in 2018?
#ANSWER = Protein supply quantity (g/capita/day)

Fao_data.groupby(['Element'])['Y2018'].sum().reset_index()

                                   Element       Y2018
0                 Domestic supply quantity  2161192.10
1                          Export Quantity   181594.80
2       Fat supply quantity (g/capita/day)    10258.69
3                                     Feed   233489.68
4                                     Food  1303841.28
5            Food supply (kcal/capita/day)   455261.00
6      Food supply quantity (kg/capita/yr)    49056.85
7                          Import Quantity   287997.09
8                                   Losses   163902.00
9                    Other uses (non-food)    91300.97
10                              Processing   308429.00
11                              Production  2075072.89
12  Protein supply quantity (g/capita/day)    11833.56
13                               Residuals    34864.00
14                                    Seed    25263.14
15                         Stock Variation    20577.91
16           Total Population - Both sexes  1140605.00
17                     Tourist consumption       90.00

In [97]:
#QUESTION 9 : What is the total Import Quantity in Algeria in 2018?
#ANSWER : 36238.29

allData = Fao_data.groupby(['Element','Area'])['Y2018'].sum().reset_index()
allData[allData['Area'] == 'Algeria']

                                    Element     Area     Y2018
0                  Domestic supply quantity  Algeria  90023.42
49                          Export Quantity  Algeria    811.54
98       Fat supply quantity (g/capita/day)  Algeria    309.09
143                                    Feed  Algeria  10668.00
192                                    Food  Algeria  63736.33
241           Food supply (kcal/capita/day)  Algeria  13288.00
286     Food supply quantity (kg/capita/yr)  Algeria   1509.28
331                         Import Quantity  Algeria  36238.29
380                                  Losses  Algeria   7708.00
425                   Other uses (non-food)  Algeria   3970.08
474                              Processing  Algeria   2479.00
519                              Production  Algeria  60766.67
568  Protein supply quantity (g/capita/day)  Algeria    367.28
613                               Residuals  Algeria    630.00
658                                    Seed  Algeria    825.00
703                         Stock Variation  Algeria   6172.00
751           Total Population - Both sexes  Algeria  42228.00

In [75]:
#QUESTION 10 : What is the total number of unique countries in the dataset?
#ANSWER = 49

Fao_data.nunique()

Area Code         49
Area              49
Item Code        122
Item             119
Element Code      18
Element           18
Unit               5
Y2014           4493
Y2015           4520
Y2016           4520
Y2017           4537
Y2018           4591
dtype: int64